<div class="p-3">

    <h3 class="text-center text-white mb-4">

        Shopora

    </h3>

    <hr class="text-secondary">

    <!-- Dashboard -->

    <a href="{% url 'dashboard:home' %}"
       class="btn btn-dark w-100 text-start mb-2">

        📊 Dashboard

    </a>

    <!-- Orders -->

    <a href="{% url 'dashboard:dashboard_orders' %}"
       class="btn btn-dark w-100 text-start mb-2">

        📦 Orders

    </a>

    <a href="{% url 'dashboard:dashboard_returns' %}"
       class="btn btn-dark w-100 text-start mb-2">

        ↩ Returns

    </a>


    <!-- Products -->

    <a href="{% url 'dashboard:product_list' %}"
        class="btn btn-dark w-100 text-start mb-2">

        🛍 Products

    </a>


    <!-- Categories -->

    <a href="{% url 'dashboard:category_list' %}"
        class="btn btn-dark w-100 text-start mb-2">

        📂 Categories

    </a>

    <!-- Currency -->
     {% if request.user.role == "owner" %}

    <a href="{% url 'dashboard:currency_exchange' %}"
        class="btn btn-dark w-100 text-start mb-2">

        💱 Currency Exchange

    </a>
    {% endif %}

    
    <a href="{% url 'dashboard:announcement_list' %}" class="btn btn-dark w-100 text-start mb-2">
        📢 Announcement
    </a>
   


    <a href="{% url 'dashboard:feature_toggle_list' %}"
        class="btn btn-dark w-100 text-start mb-2">

        ⚙ Feature Toggles

    </a>

    <a href="{% url 'dashboard:website_features' %}"
        class="btn btn-dark w-100 text-start mb-2">

        🌐 Website Features

    </a>

    <a href="{% url 'dashboard:brand_list' %}"
        class="btn btn-dark w-100 text-start mb-2">

        🏷️ Brands

    </a>

    <!-- Customers -->

    <a href="{% url 'dashboard:dashboard_customers' %}"
       class="btn btn-dark w-100 text-start mb-2">

        👥 Customers

    </a>


    <a href="{% url 'dashboard:coupon_list' %}"
        class="btn btn-dark w-100 text-start mb-2">

        🎁 Coupons

    </a>

    {% if request.user.role == "owner" %}

        <hr class="text-secondary">

        <a href="#"
           class="btn btn-dark w-100 text-start mb-2">

            👨‍💼 Employees

        </a>

        

        <a href="{% url 'dashboard:reports' %}"
           class="btn btn-dark w-100 text-start mb-2">

            📈 Analytics

        </a>

        
        <a href="{% url 'dashboard:reports' %}" class="btn btn-dark w-100 text-start mb-2">

            📑 Reports

        </a>
        
    {% endif %}

    <hr class="text-secondary">

    <a href="{% url 'accounts:profile' %}"
       class="btn btn-dark w-100 text-start mb-2">

        👤 Profile

    </a>

    <a href="{% url 'accounts:logout' %}"
       class="btn btn-danger w-100">

        Logout

    </a>

</div>