{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="d-flex justify-content-between mb-4">

    <h2>Coupons</h2>

    {% if request.user.role == "owner" %}

    <a href="{% url 'dashboard:coupon_add' %}"
       class="btn btn-primary">

        + Add Coupon

    </a>
    {% endif %}

</div>

<table class="table table-bordered align-middle">

    <thead>

        <tr>

            <th>Code</th>

            <th>Type</th>

            <th>Discount</th>

            <th>Min Purchase</th>

            {% if request.user.role == "owner" %}

            <th>Limit</th>

            <th>Used</th>

            {% endif %}

            <th>Status</th>

            {% if request.user.role == "owner" %}

            <th>Action</th>

            {% endif %}

        </tr>

    </thead>

    <tbody>

    {% for coupon in coupons %}

        <tr>

            <td>

                {{ coupon.code }}

            </td>

            <td>

                {{ coupon.get_discount_type_display }}

            </td>

            <td>

                {{ coupon.discount }}

            </td>

            <td>

                {{ coupon.minimum_purchase }}

            </td>

            {% if request.user.role == "owner" %}

            <td>

                {{ coupon.usage_limit }}

            </td>

            <td>

                {{ coupon.used_count }}

            </td>

            {% endif %}

            <td>

                {% if coupon.active %}

                    <span class="badge bg-success">

                        Active

                    </span>

                {% else %}

                    <span class="badge bg-danger">

                        Inactive

                    </span>

                {% endif %}

            </td>

            {% if request.user.role == "owner" %}
            <td>

                <a href="{% url 'dashboard:coupon_edit' coupon.id %}"
                   class="btn btn-warning btn-sm">

                    Edit

                </a>

                <a href="{% url 'dashboard:coupon_delete' coupon.id %}"
                   class="btn btn-danger btn-sm">

                    Delete

                </a>

            </td>
            {% endif %}

        </tr>

    {% empty %}

        <tr>

            <td colspan="8">

                No Coupon Found.

            </td>

        </tr>

    {% endfor %}

    </tbody>

</table>

{% endblock %}