{% extends "dashboard/base.html" %}

{% block title %}

Update Brand

{% endblock %}

{% block dashboard_content %}

<h2 class="mb-4">

    Update Brand

</h2>

<div class="card shadow-sm">

    <div class="card-body">

        <form
            method="POST"
            enctype="multipart/form-data"
        >

            {% csrf_token %}

            {{ form.as_p }}

            <button
                class="btn btn-primary"
                type="submit"
            >

                Update Brand

            </button>

            <a
                href="{% url 'dashboard:brand_list' %}"
                class="btn btn-secondary"
            >

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}