{% extends "dashboard/base.html" %}

{% block title %}

Update Product

{% endblock %}

{% block dashboard_content %}

<div class="card shadow">

    <div class="card-header">

        <h3>

            Update Product

        </h3>

    </div>

    <div class="card-body">

        <form method="POST"
              enctype="multipart/form-data">

            {% csrf_token %}

            {{ form.as_p }}

            <div class="row mb-4">

                <div class="col-md-3">

                    {{ form.is_flash_sale.label_tag }}

                    {{ form.is_flash_sale }}

                </div>

                <div class="col-md-3">

                    {{ form.is_free_delivery.label_tag }}

                    {{ form.is_free_delivery }}

                </div>

                <div class="col-md-3">

                    {{ form.is_trending.label_tag }}

                    {{ form.is_trending }}

                </div>

                <div class="col-md-3">

                    {{ form.is_new_arrival.label_tag }}

                    {{ form.is_new_arrival }}

                </div>

            </div>

            {% if product.image %}

            <img src="{{ product.image.url }}"
                 width="120"
                 class="rounded mb-3">

            {% endif %}

            <br>

            <button
                class="btn btn-success">

                Update Product

            </button>

            <a href="{% url 'dashboard:product_list' %}"
               class="btn btn-secondary">

                Cancel

            </a>

        </form>

    </div>

</div>

{% endblock %}