{% extends "emails/base_email.html" %}
{% load currency %}

{% block content %}

<h2 style="color:#0d6efd;margin-top:0;">
    ✅ Payment Successful
</h2>

<p>
Hello <strong>{{ order.full_name }}</strong>,
</p>

<p>
Thank you for shopping with <strong>Shopora</strong>.
</p>

<p>
Your payment has been received successfully and your order is now being processed.
</p>

<hr>

<h3>Order Summary</h3>

<p>
<strong>Order ID:</strong>
#{{ order.id }}
</p>

<p>
<strong>Payment Method:</strong>
{{ order.payment_method|title }}
</p>

<p>
<strong>Order Status:</strong>
{{ order.status|title }}
</p>

<p>
<strong>Transaction ID:</strong>
{{ order.payment_id }}
</p>

<p>
<strong>Total:</strong>
${{ order.get_total_cost }}
(≈ ৳{{ order.get_total_cost|bdt }})
</p>

<a href="{{ site_url }}{% url 'orders:order_list' %}" class="btn">
    View My Orders
</a>

<p style="margin-top:35px;">
We appreciate your purchase and hope you enjoy your order. ❤️
</p>

{% endblock %}