{% extends "base.html" %}
{% load currency %}

{% block title %}
Order Success
{% endblock %}

{% block content %}

<div class="container py-5 text-center">

    <div class="card shadow p-5">

        <h1 class="text-success">

            🎉 Order Placed Successfully

        </h1>

        <p class="mt-3">

            Thank you for your order.

        </p>

        <h4>

            Order ID :
            #{{ order.id }}

        </h4>

        <h5 class="mt-4">

            Total Paid

        </h5>

            <h4 class="text-success">

                ${{ order.final_total }}

            </h4>

            <h5 class="text-primary">

                ≈ ৳{{ order.final_total|bdt }}

            </h5>

        <a

            href="{% url 'store:product_list' %}"

            class="btn btn-primary mt-4"

        >

            Continue Shopping

        </a>

    </div>

</div>

{% endblock %}