{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block content %}

<style>

    .dashboard-navbar{

        display:none;

    }

</style>

<div class="container-fluid p-0">

    <div class="row g-0">

        <aside class="col-lg-2 bg-dark text-white min-vh-100">

            {% include "dashboard/includes/sidebar.html" %}

        </aside>

        <main class="col-lg-10">

            <div class="dashboard-navbar">

                {% include "dashboard/includes/navbar.html" %}

            </div>

            <div class="container-fluid p-4">

                {% block dashboard_content %}
                {% endblock %}

            </div>

        </main>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% block dashboard_scripts %}
{% endblock %}

{% endblock %}