{% extends "dashboard/base.html" %}

{% block dashboard_content %}

<div class="container">

    <div class="card shadow">

        <div class="card-body">

            <h3>Reject Return</h3>

            <p class="mb-3">
    <strong>Order:</strong> #{{ return_request.order.id }}
</p>

<div class="mb-3">

    <label class="form-label fw-semibold">
        Customer Return Reason
    </label>

    <textarea
        class="form-control bg-light"
        rows="4"
        readonly>{{ return_request.reason }}</textarea>

</div>

            <form method="post">

                {% csrf_token %}

                <div class="mb-3">

                    <label class="form-label">
                        Admin Note
                    </label>

                    <textarea
                        name="admin_note"
                        class="form-control"
                        rows="5"
                        required></textarea>

                </div>

                <h3>Reject Return</h3>

                    <button class="btn btn-danger">
                        Reject
                    </button>

                <a href="{% url 'dashboard:dashboard_returns' %}"
                   class="btn btn-secondary">

                    Cancel

                </a>

            </form>

        </div>

    </div>

</div>

{% endblock %}